*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    padding: 20px 10px 10px 20px;
    font-size: 3em;
    color: #29b1dd;
}

.filter {
    background-color:#29b1dd ;
    color: white;
    padding: 25px;
    text-align: center;
}

.container {
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 50px;
}

.container > div {
    border-radius: 20px;
    width: 250px;
    height: 130px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > div i {
    font-size: 3em;
}